* {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

button {
    background: none;
    border: none;
}



/* sidebar section */
.sidebar {
    background-color: #b5ca8d;
    z-index: 2;
    display: grid;
    grid-auto-rows: max-content;
    gap: 40px;
    padding: 15px;
}

.function-tabs, .misc-tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tab {
    display: flex;
    align-items: center;
    gap: 15px;

    font-weight: 600;
    font-size: 1.1rem;
    color: #2a4849;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 1.4rem;
    font-weight: 600;
    color: #111e1f;
}



/* header section */
.header-container {
    box-shadow: 0px 5px 5px -5px rgb(0, 0, 0, 0.4);
    z-index: 1;
    display: grid;
    padding: 15px;
    gap: 10px;

}

.top-header, .bottom-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-header > section {
    display: flex;
    align-items: center;

}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.header-container span{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    color: #111e1f;
}

#searchbar {
    flex: 1;
    min-width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(223, 223, 223);
    padding: 10px;
}

#notifications-button {
    padding-right: 20px;
    flex: 1 2 auto;
}

.profile, .profile-intro {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username {
    color: #111e1f;
    display: flex;
    align-items: center;
}

.text {
    font-size: 0.9rem;
    font-weight: 600;
}
   
.profile-intro {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.profile-pic {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.user-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hi-there-username {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.user-buttons > button {
    border: 0px;
    background-color: #8bb174;
    border-radius: 15px;
    height: 30px;
    padding: 0 30px 0px 30px;
    flex: 1;
    color: white;
}

input:focus {
    outline: none;
}



/* main contents section */
.container {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.contents {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 10px;
    background-color: #8bb174;
    padding: 20px;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.projects-title {
    grid-column: 1 / -1;
}

.projects > div {
    background-color: white;
    border-left: 7px solid #503D42;
    border-radius: 5px;
    box-shadow: 0px 5px 5px -5px rgb(0, 0, 0, 0.4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h4 {
    font-size: 1.2rem;
}

.project-description, .announcements-description {
    color: grey;
    font-size: 1rem;
    line-height: 1.1rem;
}

.project-tools {
    display: flex;
    gap: 10px;
    margin-top: auto;
    justify-content: end;
}

.project-tools span {
    font-size: 24px;
    color: #464646;
}

.announcements, .trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.announcements-content, .trending-content {
    background-color: white;
    box-shadow: 0px 5px 5px -5px rgb(0, 0, 0, 0.4);
    border-radius: 5px;
}

.contents > h4 {
    color: #111e1f;
}


.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.announcements-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.announcements-content > div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.announcements-2 {
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}

.trending-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.trending-content div {
    display: grid;
    grid-template-columns: auto 1fr;
}


.trending-content .usernames {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 10px;
}

.trending-description {
    color: #464646;
    font-size: 1rem;
}