* {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* sidebar section */
.sidebar {
    background-color: #b5ca8d;
    z-index: 2;
    display: grid;
    grid-auto-rows: max-content;
    gap: 40px;
    padding: 15px;
}

.function-tabs, .misc-tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tab {
    display: flex;
    align-items: center;
    gap: 15px;

    font-weight: 600;
    font-size: 1.1rem;
    color: #2a4849;

}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #111e1f;
}

.function-tabs {
}

/* header section */
.header-container {
    box-shadow: 0px 0px 3px 5px rgba(110, 110, 110, 0.3);
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.top-header, .bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header > section {
    display: flex;
    align-items: center;

}

.search {
    display: flex;
    gap: 10px;
}

button {
    background: none;
    border: none;
}

.header-container span{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    color: #111e1f;
}

#searchbar {
    width: 350px;
    height: 25px;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(223, 223, 223);
    padding: 10px;

}

.profile {
    gap: 10px;
}

.profile > div {
    display: flex;
    align-items: center;
}

.profile > img {
    width: 36px;
    height: 36px;
}

.bottom-header > img {
    width: 36px;
    height: 36px;
}

.user-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-buttons > button {
    border: 0px;
    background-color: #8bb174;
    border-radius: 15px;
    height: 30px;
    width: 80px;
    color: white;
}

input:focus {
    outline: none;
}

/* main contents section */
.container {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.contents {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 10px;
    background-color: #8bb174;
    padding: 20px;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.projects > div {
    background-color: white;
    border-radius: 5px;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    border-radius: 5px;

}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    border-radius: 5px;
}