* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* sidebar section */
.sidebar {
    background-color: #b5ca8d;
    z-index: 2;
    display: grid;
    grid-auto-rows: max-content;
    gap:50px;
}

.sidebar > section {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 15px;
}

.title {
    font-size: 1.5rem;
}


/* header section */
.header {
    box-shadow: 0px 0px 3px 5px rgba(110, 110, 110, 0.3);
    z-index: 1;
}


/* main contents section */
.container {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.contents {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 10px;
    background-color: #8bb174;
    padding: 20px;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.projects > div {
    background-color: white;
    border-radius: 5px;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    border-radius: 5px;

}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    border-radius: 5px;
}